# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Entorno
.env

secrets/
.token.json

to-do.md
config.json

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Salida generada
translated/

# Output
sources/apuntes.md


